@use '@styles/mixin.module' as mixins;
@use '@styles/variable.module' as vars;

.btn {
    @include mixins.btn(100%, 42px, 3px, vars.$primary_color);
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;

    &:hover {
        transition: background-color 300ms;
    }
}

.primaryBtn {
    background-color: vars.$primary_color;
    color: vars.$white_color;

    &:hover {
        background-color: transparent;
        color: vars.$primary_color;
        border: 1px solid vars.$primary_color;
    }
}

.secondaryBtn {
    background-color: vars.$white_color;
    color: vars.$primary_color;
    border: 1px solid vars.$primary_color;

    &:hover {
        background-color: vars.$primary_color;
        color: vars.$white_color;
    }
}
