@use '@styles/mixin.module' as mixins;
@use '@styles/variable.module' as vars;

.container {
    @include mixins.flex_box_custom(center, center, 0px);
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.topHeader {
    position: absolute;
    top: 0;
}

.fixedHeader {
    position: fixed;
    top: -83px;
    background-color: #ffffffe6;
    z-index: 999;
    box-shadow: 2px 0px 12px 0px rgba(0, 0, 0, 0.15);
    transform: translateY(83px);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    transition: transform 0.7s ease;
}

.containerHeader {
    width: 1250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 83px;
}

.containerBoxIcon {
    @include mixins.flex_box_custom(center, center, 20px);

    &:hover {
        cursor: pointer;
    }
}

.containerBox {
    @include mixins.flex_box_custom(center, center, 20px);
}

.containerMenu {
    @include mixins.flex_box_custom(center, center, 40px);
}

.boxIcon {
    @include mixins.radius_common(50%);
    @include mixins.flex_box_custom(center, center, 0px);

    background-color: vars.$primary_color;
    width: 26px;
    height: 26px;
}

.menu {
    cursor: pointer;
    padding-top: 9px;
    font-size: 15px;
    color: vars.$primary_color;
    position: relative;

    .subMenu {
        position: absolute;
        background-color: #fff;
        width: 100%;
        padding: 10px;
        top: 40px;
    }
}

.menu::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: vars.$primary_color;
    margin-top: 6px;

    transform-origin: right;
    transform: scale(0);
    opacity: 0;
    transition: transform 300ms, opacity 500ms;
}

.menu:hover::after {
    opacity: 1;
    transform: scale(1);
}
